<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tech Blog</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

<div class="w3-container">

<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="#" class="w3-bar-item w3-button">Dashboard</a>
    {{#if loggedIn}}
    <button id="logout" class="w3-bar-item w3-button">logout</button>
    {{else}}
    <a href="/login" class="w3-bar-item w3-button">login</a>
    {{/if}}
  </div>




<body>
 
        <main>
            {{{ body }}}
        </main>
        <footer>
           
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</body>