<div class="w3-container w3-quarter w3-yellow">
    <form class="login-form">

        <h2>Login</h2>

        <div class="w3-row">
           
                <label for="email-login">email:</label>
                <input class="w3-input" type="text"id="email-login"/>
          
                <label>password</label>
                <input class="w3-input" type="text" id="password-login"/>
           
        </div>
        <div>
            <button type="submit">login</button>
        </div>
    </form>
</div>



<div class="w3-container w3-quarter  w3-blue">
    <form class="signup-form">

        <h2>Signup</h2>

        <div class="w3-row ">
          
                    <label>username</label>
                    <input class="w3-input" type="text" id="username-signup" >
                
                    <label>E-mail</label>
                    <input class="w3-input" type="text" id="email-signup" >
              
                    <label>password</label>
                    <input class="w3-input" type="text" id="password-signup">
                
        </div>
        <div>
            <button type="submit">signup</button>

        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>

