
body {
  background-color: tan;
}

/* .login-form {
  background-repeat: no-repeat;
  background-position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  /* position: fixed; */
  /* align-items: center; */
  /* top: 50%;
  right: 25%; */
  /* width: 600px;
  height: 475px;
  margin: 75% auto auto;
} */


textarea, input {
  padding: .5%;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}
.post-list {
  margin: 0;
  padding: 0;
}