
.background{
    color: blue;
}

/* .login-form {
  background-repeat: no-repeat;
  background-position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  /* position: fixed; */
  /* align-items: center; */
  /* top: 50%;
  right: 25%; */
  /* width: 600px;
  height: 475px;
  margin: 75% auto auto;
} */